.light-medium-contrast {
  --md-sys-color-primary: rgb(0 52 114);
  --md-sys-color-surface-tint: rgb(0 91 189);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 106 217);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(28 54 96);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(86 109 155);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(92 0 122);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(157 71 187);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(24 28 35);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(14 17 24);
  --md-sys-color-surface-variant: rgb(221 226 242);
  --md-sys-color-on-surface-variant: rgb(49 54 66);
  --md-sys-color-outline: rgb(77 82 96);
  --md-sys-color-outline-variant: rgb(104 109 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 48 56);
  --md-sys-color-inverse-on-surface: rgb(239 240 250);
  --md-sys-color-inverse-primary: rgb(172 199 255);
  --md-sys-color-primary-fixed: rgb(0 106 217);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 82 171);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(86 109 155);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(61 85 129);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(157 71 187);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(129 44 160);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(196 198 208);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 243 253);
  --md-sys-color-surface-container: rgb(230 232 242);
  --md-sys-color-surface-container-high: rgb(219 220 230);
  --md-sys-color-surface-container-highest: rgb(207 209 219);
  --md-extended-color-yellow-color: rgb(61 55 0);
  --md-extended-color-yellow-on-color: rgb(255 255 255);
  --md-extended-color-yellow-color-container: rgb(122 110 0);
  --md-extended-color-yellow-on-color-container: rgb(255 255 255);
  --md-extended-color-green-color: rgb(0 64 9);
  --md-extended-color-green-on-color: rgb(255 255 255);
  --md-extended-color-green-color-container: rgb(46 124 47);
  --md-extended-color-green-on-color-container: rgb(255 255 255);
  --md-extended-color-orange-color: rgb(90 40 0);
  --md-extended-color-orange-on-color: rgb(255 255 255);
  --md-extended-color-orange-color-container: rgb(174 83 0);
  --md-extended-color-orange-on-color-container: rgb(255 255 255);
  --md-extended-color-blue-color: rgb(0 57 94);
  --md-extended-color-blue-on-color: rgb(255 255 255);
  --md-extended-color-blue-color-container: rgb(0 114 180);
  --md-extended-color-blue-on-color-container: rgb(255 255 255);
  --md-extended-color-red-color: rgb(115 3 0);
  --md-extended-color-red-on-color: rgb(255 255 255);
  --md-extended-color-red-color-container: rgb(196 62 44);
  --md-extended-color-red-on-color-container: rgb(255 255 255);
}
